tensorflow
torch
torchao
triton
jax-cuda12-pjrt
rapids-logger
cuda-pathfinder
opencv-python
# dlib
insightface
kornia_rs
segment_anything
pillow
numpy
scipy
matplotlib
einops
tqdm
scikit-multilearn
duckdb
pandas
polars
pyarrow
spacy
# en_core_web_sm
sentencepiece
fuzzywuzzy
regex
fsspec
aiofiles
aiohappyeyeballs
pyyaml
requests
httpx
pydub
soundfile
jsonpickle
plotly
graphviz
jupyter
notebook
widgetsnbextension
ipywidgets
jupyterlab
jupyter-leaflet
psutil
filelock
typing_extensions
pathspec
click
packaging
python-dotenv
colorlog
tomlkit
setuptools
wheel
pip
ninja
protobuf<4
absl-py
attrs
decorator
traitlets
tornado
Pygments
nvidia-cublas-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-runtime-cu12
nvidia-curand-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
libkvikio-cu12
libucx-cu12
Pillow
imageio
imageio-ffmpeg
pycryptodomex
pytz
tzdata
ujson
orjson
pytest
ruff
